<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>我的收藏</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/static/index/css/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="/static/index/css/common.css" rel="stylesheet"/>
    <link href="/static/index/css/uc.css" rel="stylesheet"/>
</head>
<body>
    <!--头部-->
    <div class="topper">
        <div class="wrapper">
            <div class="left-bar">
                <div class="back-home divider">
                    <em></em><a href="{:url('Index/index')}">商城首页</a>
                </div>
                
            </div>
            <div class="right-bar">
                {if $user==null}
                 <div class="item"><a href="{:url('login/index')}">登录<span class="txt-theme"></span></a></div>
                <div class="logout divider"><a href="{:url('login/sign')}">注册</a></div>
                <span class=""></span>
                <div class="cart"><em></em><a href="">购物车</a></div>
                <div class="order"><em></em><a href="">我的订单</a></div>
                <div class="fav"><em></em><a href="">我的收藏</a></div>
                <div class="help"><em></em><a href="">个人中心</a></div>
            {else /}
                <div class="item"><a href="{:url('order/uc')}">欢迎您:<span style="color:red" class="txt-theme">{$user}</span></a></div>
                <div class="logout divider"><a href="{:url('login/logout')}">退出</a></div>
                <span class=""></span>
            
                <div class="cart"><em></em><a href="{:url('Car/cart')}">购物车</a></div>
                <div class="order"><em></em><a href="{:url('Order/uc_order')}">我的订单</a></div>
                <div class="fav"><em></em><a href="{:url('Myself/uc_fav')}">我的收藏</a></div>
                <div class="help"><em></em><a href="{:url('Order/uc')}">个人中心</a></div>
            {/if}
            </div>
        </div>
    </div>
    <div class="uc-header-bg">
        <div class="uc-header wrapper">
            <a class="logo" href="{:url('Index/index')}"><img src="/static/index/img/logo2.png" alt="" /></a>
            <div class="back-home"><a href="{:url('Index/index')}">返回商城首页</a></div>
            <ul class="uc-nav">
                <li><a href="">首页</a></li>
                <li class="toggle">
                    <span class="label">账户设置<i class="iconfont"></i></span>
                    <div class="toggle-cont">
                        <a href="{:url('Myself/uc_account')}">个人信息</a>
                        <a href="{:url('Safe/uc_safe')}">安全设置</a>
                        <a href="{:url('Order/uc_address')}">收货地址</a>
                    </div>
                </li>
                
            </ul>
            <div class="schbox">
                
            </div>
        </div>
    </div>

    <div class="wrapper uc-router">
        <ul>
            <li><a href="{:url('Index/index')}">首页</a></li>
            <li><span class="divider"></span></li>
            <li><span><a href="{:url('Order/uc')}">个人中心</a></span></li>
        </ul>
    </div>

    <div class="wrapper">
        <div class="uc-main clearfix">
            <div class="uc-aside">
                <div class="uc-menu">
                    <div class="tit">订单中心</div>
                    <ul class="sublist">
                        <li><a href="{:url('Order/uc_order')}">我的订单</a></li>
                        <li><a class="active" href="{:url('Myself/uc_fav')}">我的收藏</a></li>
                        <li><a href="{:url('Myself/uc_footprint')}">浏览历史</a></li>
                        <li><a href="{:url('Order/uc_apply_refund')}">退货</a></li>
                    </ul>
                    
                    <div class="tit">账户中心</div>
                    <ul class="sublist">
                        <li><a href="{:url('Myself/uc_account')}">账户信息</a></li>
                        <li><a href="{:url('Safe/uc_safe')}">账户安全</a></li>
                        <li><a href="{:url('Order/uc_address')}">收货地址</a></li>
                    </ul>
                    <div class="tit">消息中心</div>
                    <ul class="sublist">
                        <li><a href="{:url('Order/uc_allevaluate')}">商品评价</a></li>
                    </ul>
                </div>
            </div>
            <div class="uc-content">
                <div class="uc-panel">
                    <div class="uc-bigtit">我的收藏</div>
                    <div class="uc-panel-bd">
                        <div class="uc-tabs">
                            <a class="item active" href="uc-fav.html">我收藏的商品</a>
                        </div>
                        <table class="uc-table">
                            <tr class="hd">
                                <td widtd="360" class="align-left" >
                                    商品图片
                                </td>
                                <td>
                                    商品名称
                                </td>
                                <td width="100">价格</td>
                                <td width="100">库存情况</td>
                                <td width="120">操作</td>
                                <td><a href="" class="del iconfont icon-shanchu"></a></td>
                            </tr>
                            {foreach $list as $v}
                            <tr class="fav-goods">
                                <td>
                                    <img src="/goods_uploads/{$v.img}" alt="" width="50px" height="50px"/>
                                </td>
                                <td>
                                    <span class="name">{$v.goodsname}</span>
                                </td>
                                <td><span class="text-theme fwb">{$v.price}元</span></td>
                                <td>{if $v.state==1}现货{else /}无货{/if}</td>
                                <td><a href="{:url('Shop/goods_detail')}?id={$v.gid}" class="ui-btn-theme uc-btn-md mb5">进入详情</a><br /></td>
                                <td><span class="text-warning" onclick="del({$v.id},this)"><a >取消收藏</a></span></td>
                            </tr>
                            {/foreach}
                        </table>
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--脚部-->
    <div class="fatfooter">

    </div>
    <!--脚部-->
</body>
<script src="/static/index/js/jquery.js"></script>
<link rel="stylesheet" href="/static/index/js/icheck/style.css"/>
<script src="/static/index/js/icheck/icheck.min.js"></script>
<script src="/static/index/js/global.js"></script>
<script type="text/javascript" src="/static/index/js/layer/layer.js"></script>

<script>
$(function () {
    $('.check input').iCheck({
            checkboxClass: 'sty1-checkbox'
        });
});
    function del(id,ob){
        // halt(input('id'));
        layer.confirm('确认要取消收藏吗？', {
            btn: ['确认','取消'] //按钮
          }, function(){
            $.ajax({
                    type:"post",
                    url:"{:url('Myself/dofavdel')}",
                    data:{id:id},
                    success:function(data){
                        // alert(data);
                      if (parseInt(data)>0) {
                        $(ob).parents("tr").remove();
                        layer.msg('取消成功！');
                      }else{
                        layer.alert('取消失败！');
                      }
                    },
                    // error:function(){
                    //   alert("ajax请求失败！");
                    // }
              })
          });    
    } 
</script>
</html>